PORT=4000
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=YOUR_POSTGRES_DB
DATABASE_URL=postgres://YOUR_POSTGRES_USER:YOUR_POSTGRES_PASSWORD@postgres:5432/YOUR_POSTGRES_DB
PGADMIN_EMAIL=YOUR_PGADMIN_EMAIL
PGADMIN_PASSWORD=YOUR_PGADMIN_PASSWORD
